body {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Heebo", sans-serif;
    font-weight: bold;
}
.form-check-input.is-invalid~.form-check-label, .was-validated .form-check-input:invalid~.form-check-label {
    color: red !important;
}